body {
  /* For white background */
  /* background: #FCFDFC; */
  background: rgb(0, 0, 0);
  background: url('Images/starry_sky.jpeg');
  color: #333333;
  margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
}

.mb-4 {
  margin-top: 1.5rem;
  color: #007bbc;
  font-family: 'Lucida Console', 'Courier New';
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  transition: transform ease 0.2s, box-shadow 0.2s ease;
}

.card {
  background: radial-gradient(ellipse at center, #020031 0%, #6d3353 100%);
  color: #fff;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.card-header {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.1);
}

.card-body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

#postContent {
  /* background: radial-gradient(ellipse at center, #007bbc 0%, #020031 50%); */
  /* background-image: url('Images/starry_sky.jpeg'); */
  background: rgba(0, 0, 0, 0.7);
  border: 0.2px solid #007bbc;
  color: #fff;
  font-size: 1.2em;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  border-radius: 25px;
}

#postContent::placeholder {
  color: #bbb;
}

#postContent:focus {
  outline: none;
  box-shadow: 0 0 20px rgba(0, 123, 188, 0.5);
}

.posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-control {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 1.2em;
  border: none;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, background 0.3s ease;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.7);
  border: 0.2px dotted #007bbc;
}

.form-control:focus {
  outline: none;
  box-shadow: 0 0 20px rgba(0, 123, 188, 0.5);
  background: radial-gradient(
    circle,
    rgba(0, 123, 188, 0.5),
    rgba(0, 0, 0, 0.1)
  );
}

.form-group .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.submitButton {
  border: none;
  background: rgba(0, 123, 188, 1);
  color: #ffffff;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:before,
button:after {
  position: absolute;
  content: '';
  z-index: -1;
}

.submitButton:hover {
  background: #007bbc;
  box-shadow: 0 0 5px #007bbc, 0 0 25px #007bbc, 0 0 50px #007bbc,
    0 0 200px #007bbc;
}

.coordinates {
  width: 65%;
}

#latitude::placeholder,
#longitude::placeholder {
  color: #b6b6b6;
}

#latitude {
  color: #fff;
  width: 100%;
}

#longitude {
  color: #fff;
  margin-bottom: 1rem;
  width: 100%;
}

.post.card.mb-4 {
  margin-top: 1.5rem;
  font-family: 'Lucida Console', 'Courier New';
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

.post.card-body {
}

.card-body h5 {
  margin-top: 1rem;
}

#ticker {
  animation: ticker 30s linear infinite;
  border: none;
  background-color: rgba(
    0,
    0,
    0,
    0
  ); /* temporary, to ensure the text is visible */
  height: 50px;
  font-size: 20px;
  font-style: italic;
  color: white;
  padding: 10px;
  margin: 0;
  line-height: 50px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

a.logoTitle {
  color: #007bbc;
  font-family: 'Lucida Console', 'Courier New';
  font-weight: bold;
  font-size: 4em;
  text-align: center;
  transition: transform ease 0.3s, box-shadow 0.3s ease;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 10px 20px;
  border-radius: 25px;
}

a.logoTitle:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 0px 10px 15px #007bbc;
  text-decoration: none;
}

a.logoTitle:active {
  transform: translateY(-5px);
}

h1.heatmapTitle {
  color: #007bbc;
  font-family: 'Lucida Console', 'Courier New';
  font-weight: bold;
  text-align: center;
}

.bg-steel {
  background-color: #007bbc;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.site-header .dropdown-menu > li > .nav-item.nav-link {
  color: #495057;
}

.site-header .dropdown-menu > li > .nav-item.nav-link:hover {
  color: #798592;
}

.content-section {
  background: #ffffff;
  padding: 20px 30px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.welcome-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.uffo-logo {
  width: 40vw;
}

.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.no-scroll {
  /* overflow: hidden; */
  height: 100vh; /* This will make sure the body takes the full height of the viewport, preventing scrolling */
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.author,
.date {
  font-weight: bold;
}

.post-title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

/* Login Form Section */
.content-section-login {
  background: radial-gradient(ellipse at center, #020031 0%, #6d3353 100%);
  padding: 20px 30px;
  border-radius: 10px;
  margin-top: 4rem;
}

.form-group-login {
  margin-bottom: 1em;
}

.form-control-label-login {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 0 10px #00ff00; /* Gives a glowing effect to the text */
}

.form-control-login {
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 25px;
  padding-left: 12px;
  padding-right: 12px;
  transition: box-shadow 0.3s ease, background 0.3s ease;
  width: 55%;
  margin-left: 14px;
}

.form-control-login:focus {
  outline: none;
  box-shadow: 0 0 20px #00ff00; /* Green, glowy box shadow */
  background: rgba(0, 0, 0, 0.7);
}

.form-check-input-login {
  transition: box-shadow 0.3s ease;
}

.form-check-label-login {
  color: #fff;
  font-weight: bold;
}

.btn-login {
  position: relative;
  background: rgba(0, 255, 0, 1);
  color: #000000;
  font-weight: bold;
  border-radius: 50%; /* Make it circular to resemble a UFO */
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0px 8px 15px rgba(0, 255, 0, 0.3);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  padding: 15px 30px; /* You can adjust padding to change the size of the button */
}

.btn-login:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px; /* half of width */
  background: rgba(0, 255, 0, 0.3);
  border-radius: 50%;
  transition: all 0.3s ease 0s;
  box-shadow: 0 0 25px #00ff00, 0 0 50px #00ff00, 0 0 200px #00ff00;
  z-index: -1;
}

.btn-login:hover {
  background: rgba(0, 255, 0, 0.8);
  transform: translateY(-10px) scale(1.1); /* Move upwards and increase size slightly */
  box-shadow: 0 0 5px #00ff00, 0 0 25px #00ff00, 0 0 50px #00ff00, 0 0 200px #00ff00;
}

.btn-login:hover:before {
  box-shadow: 0 0 50px #00ff00, 0 0 100px #00ff00, 0 0 200px #00ff00, 0 0 400px #00ff00;
  transform: translateY(10px) scale(1.5); /* Move downwards and increase size */
  opacity: 0;
}


.border-bottom-login {
  border-bottom: 2px solid #00ff00; /* Green, glowy border */
}

.mb-4-login {
  margin-bottom: 1.5em;
  color: #ffffff;
  font-family: 'Lucida Console', 'Courier New';
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  transition: transform ease 0.2s, box-shadow 0.2s ease;
  text-shadow: 0 0 10px #00ff00; /* Gives a glowing effect to the text */
}
