{% extends "layout.html" %} {% block content %}
<div class="content-section-login">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group-login">
      <legend class="border-bottom-login mb-4-login">Log In</legend>
      <div class="form-group-login">
        {{ form.username.label(class="form-control-label-login") }} {% if
        form.username.errors %} {{ form.username(class="form-control-login
        form-control-lg-login is-invalid-login") }}
        <div class="invalid-feedback-login">
          {% for error in form.username.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.username(class="form-control-login
        form-control-lg-login") }} {% endif %}
      </div>
      <div class="form-group-login">
        {{ form.password.label(class="form-control-label-login") }} {% if
        form.password.errors %} {{ form.password(class="form-control-login
        form-control-lg-login is-invalid-login") }}
        <div class="invalid-feedback-login">
          {% for error in form.password.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.password(class="form-control-login
        form-control-lg-login") }} {% endif %}
      </div>
      <div class="form-check-login">
        {{ form.remember(class="form-check-input-login") }} {{
        form.remember.label(class="form-check-label-login") }}
      </div>
    </fieldset>
    <div class="form-group-login">
      {{ form.submit(class="btn-login btn-outline-info-login") }}
    </div>
  </form>
</div>
{% endblock content %}
