{% extends "layout.html" %} {% block content %}
<div class="homepage">
    <div class="welcome-banner">
        <img src="../static/Images/uffoLogo.png" alt="uffoLogo" class="uffo-logo" />
        <h1>Welcome, {{ current_user.name }}!</h1>
    </div>
    {% for post in posts %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="author mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted date">{{ post.date_posted }}</small>
            </div>
            <h2 class="post-title">
                <a class="article-title" href="#">{{ post.title }}</a>
            </h2>
            <p class="article-content">{{ post.content }}</p>
        </div>
    </article>
    {% endfor %}
</div>
{% endblock content %}

